.project .header {
  text-align: center;
}

.project .header h1 {
  font-size: 2rem;
}

.project .header p {
  margin-top: 0.75rem;
  font-size: 1.1rem;
}

.project-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-images .landscape {
  width: 100%;
  height: auto;
}

.project-images .portrait {
  width: 100%;
  height: auto;
}

.project-images .square {
  width: 100%;
  height: auto;
}

.project-video {
  width: 320px;
  height: 240px;
}

@media (min-width: 1200px) {
  .project-images {
    width: calc(275px * 3 + 2rem);
  }

  .project-images .landscape {
    width: 650px;
    height: auto;
  }

  .project-images .portrait {
    width: 500px;
    height: auto;
  }

  .project-images .square {
    width: 500px;
    height: auto;
  }

  .project-video {
    width: 640px;
    height: 320px;
  }
}
@media (min-width: 1400px) {
  .project-images {
    width: calc(275px * 3 + 2rem);
  }

  .project-images .landscape {
    width: 750px;
    height: auto;
  }

  .project-images .portrait {
    width: 650px;
    height: auto;
  }

  .project-images .square {
    width: 500px;
    height: auto;
  }

  .project-video {
    width: 750px;
    height: 562.2px;
  }
}
